.navbar, .sidebar{
    background-color: #002336;
}

.sidebar{
    height: 100%;
    position: fixed;
}

.sidebar hr {
    color: white;
    opacity: 3;
}

.btn {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.navbar-brand {
    color: white;
    font-size: 16px;
    font-weight: bold;
}